---
import Layout from "../../layout/default.astro"
import {getEntry} from "astro:content";

let championship = (await getEntry("championship", "championship")).data;

const teams = await Promise.all(championship.positions.map(
  async (teams: string) => (await getEntry('teams', teams)).data)
)
console.log(teams)
---

<Layout title="Πρωτάθλημα">
  <div>
    <table class="w-full text-2xl font-semibold text-sky-100">
      <tr class="h-20">
        <th class="w-[11vw]">           </th>
        <th class="w-[30vw]"> Ομάδα     </th>
        <th class="w-[11vw]"> Βαθμοί    </th>
        <th class="w-[11vw]"> Γκολ      </th>
        <th class="w-[11vw]"> Νίκες     </th>
        <th class="w-[11vw]"> Ισοπαλίες </th>
        <th class="w-[11vw]"> Ήττες     </th>
      </tr>
      {teams.map(
        team => (
          <tr class="h-20">
            <td class="text-center border-t-[3px] border-solid "> <img src={team.image}height="80px" width="80px"> </td>
            <td> {team.team} </td>
            <td> {team.points} </td>
            <td> {team.goals} </td>
            <td> {team.wins} </td>
            <td> {team.draws} </td>
            <td> {team.loses} </td>
          </tr>
        )
      )}
    </table>
  </div>
<style>
  td {
    text-align: center;
    border-top: 3px solid;
    border-color: rgb(123, 170, 252);
  }
</style>
</Layout>