---
import Layout from "../../layout/default.astro"
import {getEntry} from "astro:content";

let championship = (await getEntry("championship", "championship")).data;
---

<Layout title="Πρωτάθλημα">
    <div>
        <table class="w-full text-2xl font-semibold text-sky-100">
          <tr class="h-20">
            <th class="w-[12vw]">  </th>
            <th class="w-[30vw]"> Ομάδα </th>
            <th class="w-[12vw]"> Βαθμοί </th>
            <th class="w-[12vw]"> Γκολ </th>
            <th class="w-[12vw]"> Νίκες </th>
            <th class="w-[12vw]"> Ισοπαλίες </th>
            <th class="w-[12vw]"> Ήττες </th>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[0]} height="80px" width="80px"> </td>
            <td> {championship.teams[0]} </td>
            <td> {championship.points[0]} </td>
            <td> {championship.goals[0]} </td>
            <td> {championship.wins[0]} </td>
            <td> 1 </td>
            <td> 1 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[1]} height="80px" width="80px"> </td>
            <td> {championship.teams[1]} </td>
            <td> {championship.points[1]} </td>
            <td> {championship.goals[1]} </td>
            <td> {championship.wins[1]} </td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[2]} height="80px" width="80px"> </td>
            <td> {championship.teams[2]} </td>
            <td> {championship.points[2]} </td>
            <td> {championship.goals[2]} </td>
            <td> {championship.wins[2]} </td>
            <td> {championship.wins[2]} </td>
            <td> 2 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[3]} height="80px" width="80px"> </td>
            <td> {championship.teams[3]} </td>
            <td> {championship.points[3]} </td>
            <td> {championship.goals[3]} </td>
            <td> {championship.wins[3]} </td>
            <td> 1 </td>
            <td> 3 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[4]} height="80px" width="80px"> </td>
            <td> {championship.teams[4]} </td>
            <td> {championship.points[4]} </td>
            <td> {championship.goals[4]} </td>
            <td> {championship.wins[4]} </td>
            <td> 1 </td>
            <td> 3 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[5]} height="80px" width="80px"> </td>
            <td> {championship.teams[5]} </td>
            <td> {championship.points[5]} </td>
            <td> {championship.goals[5]} </td>
            <td> {championship.wins[5]} </td>
            <td> 0 </td>
            <td> 5 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[6]} height="80px" width="80px"> </td>
            <td> {championship.teams[6]} </td>
            <td> {championship.points[6]} </td>
            <td> {championship.goals[6]} </td>
            <td> {championship.wins[6]} </td>
            <td> 2 </td>
            <td> 4 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[7]} height="80px" width="80px"> </td>
            <td> {championship.teams[7]} </td>
            <td> {championship.points[7]} </td>
            <td> {championship.goals[7]} </td>
            <td> {championship.wins[7]} </td>
            <td> 1 </td>
            <td> 6 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[8]} height="80px" width="80px"> </td>
            <td> {championship.teams[8]} </td>
            <td> {championship.points[8]} </td>
            <td> {championship.goals[8]} </td>
            <td> {championship.wins[8]} </td>
            <td> 1 </td>
            <td> 8 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[9]} height="80px" width="80px"> </td>
            <td> {championship.teams[9]} </td>
            <td> {championship.points[9]} </td>
            <td> {championship.goals[9]} </td>
            <td> {championship.wins[9]} </td>
            <td> 1 </td>
            <td> 9 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[10]} height="80px" width="80px"> </td>
            <td> {championship.teams[10]} </td>
            <td> {championship.points[10]} </td>
            <td> {championship.goals[10]} </td>
            <td> {championship.wins[10]} </td>
            <td> 4 </td>
            <td> 8 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[11]} height="80px" width="80px"> </td>
            <td> {championship.teams[11]} </td>
            <td> {championship.points[11]} </td>
            <td> {championship.goals[11]} </td>
            <td> {championship.wins[11]} </td>
            <td> 1 </td>
            <td> 10 </td>
          </tr>
          <tr class="h-20">
            <td> <img src={championship.image[12]} height="80px" width="80px"> </td>
            <td> {championship.teams[12]} </td>
            <td> {championship.points[12]} </td>
            <td> {championship.goals[12]} </td>
            <td> {championship.wins[12]} </td>
            <td> 2 </td>
            <td> 10 </td>
          </tr>
        </table>
  </div>
<style>
  td {
    text-align: center;
    border-top: 3px solid;
    border-color: rgb(123, 170, 252);
  }
</style>
</Layout>