---
import Layout from "../../layout/default.astro"
import Player from "../../components/Player.astro"
import { getCollection } from "astro:content";

let players = await getCollection("players");
players = players.map(entry => entry.data) as any;
---

<Layout title="Η ομάδα μας">
	<div class="flex flex-row justify-evenly items-center">

        <div class="my-[3vh] w-[52.1vw]">
            <section class="pitch">
            <div class="field left">
                <div class="penalty-area"></div>
            </div>
            <div class="field right">
                <div class="penalty-area"></div>
            </div>
            <div class="center-circle"></div>
                <div class="home-team">
                    <div class="triggerDiv" data-target="group1"> <div class="player one      flex flex-row justify-center items-center text-white"> 1 </div> </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player two      flex flex-row justify-center items-center text-white"> 2 </div> </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player three    flex flex-row justify-center items-center text-white"> 3 </div> </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player four     flex flex-row justify-center items-center text-white"> 4 </div> </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player five     flex flex-row justify-center items-center text-white"> 5 </div> </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player six      flex flex-row justify-center items-center text-white"> 6 </div> </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player seven    flex flex-row justify-center items-center text-white"> 7 </div> </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player eight    flex flex-row justify-center items-center text-white"> 8 </div> </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player nine     flex flex-row justify-center items-center text-white"> 9 </div> </div>
                    <div class="triggerDiv" data-target="group4"> <div class="player ten      flex flex-row justify-center items-center text-white"> 10 </div> </div>
                    <div class="triggerDiv" data-target="group4"> <div class="player eleven   flex flex-row justify-center items-center text-white"> 11 </div> </div>
                    <div class="triggerDiv" id="showAll"> <div class="show            flex flex-row justify-center items-center text-white"> <i class="fa-solid fa-eye"></i> </div> </div>
                </div>
            </section>
        </div>
    
        <div class="players w-[40vw] h-[70vh] flex flex-col justify-evenly relavtive overflow-hidden overflow-y-auto">
            
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player1[0]} image = {players[0].player1[1]} position = {players[0].player1[2]}/>
                <Player name = {players[0].player2[0]} image = {players[0].player2[1]} position = {players[0].player2[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player3[0]} image = {players[0].player3[1]} position = {players[0].player3[2]}/>
                <Player name = {players[0].player4[0]} image = {players[0].player4[1]} position = {players[0].player4[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player5[0]} image = {players[0].player5[1]} position = {players[0].player5[2]}/>
                <Player name = {players[0].player6[0]} image = {players[0].player6[1]} position = {players[0].player6[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player7[0]} image = {players[0].player7[1]} position = {players[0].player7[2]}/>
                <Player name = {players[0].player8[0]} image = {players[0].player8[1]} position = {players[0].player8[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player9[0]} image = {players[0].player9[1]} position = {players[0].player9[2]}/>
                <Player name = {players[0].player10[0]} image = {players[0].player10[1]} position = {players[0].player10[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player11[0]} image = {players[0].player11[1]} position = {players[0].player11[2]}/>
                <Player name = {players[0].player12[0]} image = {players[0].player12[1]} position = {players[0].player12[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player13[0]} image = {players[0].player13[1]} position = {players[0].player13[2]}/>
                <Player name = {players[0].player14[0]} image = {players[0].player14[1]} position = {players[0].player14[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player15[0]} image = {players[0].player15[1]} position = {players[0].player15[2]}/>
                <Player name = {players[0].player16[0]} image = {players[0].player16[1]} position = {players[0].player16[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player17[0]} image = {players[0].player17[1]} position = {players[0].player17[2]}/>
                <Player name = {players[0].player18[0]} image = {players[0].player18[1]} position = {players[0].player18[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player19[0]} image = {players[0].player19[1]} position = {players[0].player19[2]}/>
                <Player name = {players[0].player20[0]} image = {players[0].player20[1]} position = {players[0].player20[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player21[0]} image = {players[0].player21[1]} position = {players[0].player21[2]}/>
                <Player name = {players[0].player22[0]} image = {players[0].player22[1]} position = {players[0].player22[2]}/>
            </div>

        </div>

    </div>


      <style>
        .players::-webkit-scrollbar {
            display: none;
        }
        .triggerDiv {
            cursor: pointer;
        }
        .hiddenDiv {
            display: none;
        }
        .pitch{
        background-color: #2d9734;
        width: 800px;
        height: 520px;
        position: relative;
        }
        .pitch:after{
        content: "";
        border-left: 1px solid white;
        position: absolute;
        top :20px;
        left :400px;
        display:block;
        height:480px;
        }

        .pitch:before{
        content: "";
        border: 1px solid white;
        position: absolute;
        top :20px;
        left :20px;
        display:block;
        width: 760px;
        height:480px;
        }

        .center-circle{
        position: absolute;
        top: 230px;
        left: 355px;
        width: 90px;
        height: 90px;
        border: 1px solid white;
        border-radius: 50%;
        }
        .center-circle:after{
        position: absolute;
        top: 43px;
        left: 43px;
        width: 4px;
        height: 4px;
        background-color:white;
        content:"";
        border:1px solid white;
        }

        .penalty-area{
        position: absolute;
        height: 140px;
        width: 80px;
        top: 200px;
        border: 1px solid white;
        }

        .left .penalty-area{
        left: 20px;
        border-left: 0;
        }

        .right .penalty-area{
        right: 19px;
        border-right: 0;
        }

        .penalty-area:before{
        position: absolute;
        height: 70px;
        width: 35px;
        top: 35px;
        border: 1px solid white;
        content:"";
        }
        .right .penalty-area:before{
        right:0px;
        border-right:0;
        }

        .penalty-area:after{
        position: absolute;
        height: 2px;
        width: 2px;
        top: 70px;
        background-color:white;
        content:"";
        }
        .left .penalty-area:after{
        right:15px;
        }
        .right .penalty-area:after{
        left:15px;
        }

        .player{
        position:absolute;
        border-radius:50%;
        width:30px;
        height:30px;
        }
        .player:after{
        font-size:10px;
        position:absolute;
        left:3px;
        }
        .home-team .player{
        background:rgb(24, 71, 189);
        }
        .home-team .player.one{
        top:260px;
        left:25px;
        background:rgb(46, 171, 216);
        }
        .home-team .player.two{
        top:80px;
        left:200px;
        }
        .home-team .player.three{
        top:180px;
        left:200px;
        }
        .home-team .player.four{
        top:320px;
        left:200px;
        }
        .home-team .player.five{
        top:420px;
        left:200px;
        }
        .home-team .player.six{
        top:80px;
        left:420px;
        }
        .home-team .player.seven{
        top:180px;
        left:420px;
        }
        .home-team .player.eight{
        top:320px;
        left:420px;
        }
        .home-team .player.nine{
        top:420px;
        left:420px;
        }
        .home-team .player.ten{
        top:165px;
        left:630px;
        }
        .home-team .player.eleven{
        top:350px;
        left:630px;
        }
      </style>
    <script>
        document.querySelectorAll('.triggerDiv').forEach(trigger => {
            trigger.addEventListener('click', function() {
                // Hide all hidden divs first
                document.querySelectorAll('.hiddenDiv').forEach(div => {
                    div.style.display = 'none';
                });

                if (this.id === 'showAll') {
                    // Show all hidden divs
                    document.querySelectorAll('.hiddenDiv').forEach(div => {
                        div.style.display = 'flex';
                        div.style.flexDirection = 'row';
                        div.style.justify = 'around';
                        div.style.items = 'center';
                    });
                } else {
                    // Get the target group to show
                    const targetGroup = this.getAttribute('data-target');
                    
                    // Show only the target group divs
                    document.querySelectorAll('.' + targetGroup).forEach(div => {
                        div.style.display = 'flex';
                        div.style.flexDirection = 'row';
                        div.style.justify = 'around';
                        div.style.items = 'center';
                    });
                }
            });
        });
    </script>
</Layout>