---
import Layout from "../../layout/default.astro"
import Player from "../../components/Player.astro"
import { getCollection } from "astro:content";

let players = await getCollection("players");
players = players.map(entry => entry.data) as any;
---

<Layout title="Η ομάδα μας">
	<div class="flex flex-row justify-evenly items-center">

        <div class="my-[3vh] w-[52.1vw]">
            <section class="pitch bg-pitch w-[52vw] h-[33.5vw] relative before:content: none; before:border-solid before:border-white before:border-[1px] before:absolute before:top-[1.3vw] before:left-[1.3vw] before:block before:w-[49.5vw] before:h-[31.2vw] after:border-l-[1px] after:content: none; after:border-white after:border-solid after:absolute after:block after:top-[1.3vw] after:left-[50.1%] after:h-[31.1vw]">
            <div class="field left">
                <div class="penalty-area after:right-[1vw] after:absolute after:h-[2px] after:w-[2px] after:top-[50%] after:bg-white after:content: none; before::content: none; before:left-0 before:border-l-0  before:absolute before:h-[4.5vw] before:w-[2.2vw] before:top-[25%] before:border-white before:border-solid before:border-[1px] absolute h-[9vw] w-[5vw] top-[36%] border-solid border-white border-[1px] left-[1.3vw] border-l-0"></div>
            </div>
            <div class="field right">
                <div class="penalty-area after:left-[1vw] after:absolute after:h-[2px] after:w-[2px] after:top-[50%] after:bg-white after:content: none; before::content: none; before:right-0 before:border-r-0 before:absolute before:h-[4.5vw] before:w-[2.1vw] before:top-[25%] before:border-white before:border-solid before:border-[1px] absolute h-[9vw] w-[5vw] top-[36%] border-solid border-white border-[1px] right-[1.3vw] border-r-0"></div>
            </div>
            <div class="center-circle after:absolute after:top-[48%] after:left-[48%] after:w-[4px] after:h-[4px] after:bg-white after:border-white after:border-[1px] after:border-solid after:content: none; absolute top-[38%] left-[42.5%] w-[8vw] h-[8vw] border-solid border-white border-[1px] rounded-full"></div>
                <div class="home-team">
                    <div class="triggerDiv" data-target="group1"> <div class="player one      bg-goalkeeper-home-team   flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[46.5%] left-[2.6%]   hover:bg-lime-600   hover:text-green-800"   > 1 </div>  </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player two      bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[14%] left-[25%]      hover:bg-yellow-400 hover:text-yellow-800"  > 2 </div>  </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player three    bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[33%] left-[25%]      hover:bg-yellow-400 hover:text-yellow-800"  > 3 </div>  </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player four     bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[61%] left-[25%]      hover:bg-yellow-400 hover:text-yellow-800"  > 4 </div>  </div>
                    <div class="triggerDiv" data-target="group2"> <div class="player five     bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[81%] left-[25%]      hover:bg-yellow-400 hover:text-yellow-800"  > 5 </div>  </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player six      bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[14%] left-[52%]      hover:bg-blue-400   hover:text-blue-800"    > 6 </div>  </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player seven    bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[33%] left-[52%]      hover:bg-blue-400   hover:text-blue-800"    > 7 </div>  </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player eight    bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[61%] left-[52%]      hover:bg-blue-400   hover:text-blue-800"    > 8 </div>  </div>
                    <div class="triggerDiv" data-target="group3"> <div class="player nine     bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[81%] left-[52%]      hover:bg-blue-400   hover:text-blue-800"    > 9 </div>  </div>
                    <div class="triggerDiv" data-target="group4"> <div class="player ten      bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[24%] left-[80%]      hover:bg-red-400    hover:text-red-900"     > 10 </div> </div>
                    <div class="triggerDiv" data-target="group4"> <div class="player eleven   bg-home-team              flex flex-row justify-center items-center text-blanched-almond absolute rounded-full w-[2vw] h-[2vw] after:absolute after:text-[20px] top-[71%] left-[80%]      hover:bg-red-400    hover:text-red-900"     > 11 </div> </div>
                    <div class="triggerDiv" id="showAll">         <div class="show            flex flex-row justify-center items-center"> <div class="text-white hover:text-blue-800 w-[2vw] h-[1.3vw] flex justify-center items-center"> <i class="fa-solid fa-eye"></i>  </div> </div> </div>
                </div>
            </section>
        </div>  
    
        <div class="players w-[40vw] h-[70vh] flex flex-col justify-evenly relavtive overflow-hidden overflow-y-auto">
            
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player1[0]} image = {players[0].player1[1]} position = {players[0].player1[2]}/>
                <Player name = {players[0].player2[0]} image = {players[0].player2[1]} position = {players[0].player2[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player3[0]} image = {players[0].player3[1]} position = {players[0].player3[2]}/>
                <Player name = {players[0].player4[0]} image = {players[0].player4[1]} position = {players[0].player4[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player5[0]} image = {players[0].player5[1]} position = {players[0].player5[2]}/>
                <Player name = {players[0].player6[0]} image = {players[0].player6[1]} position = {players[0].player6[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player7[0]} image = {players[0].player7[1]} position = {players[0].player7[2]}/>
                <Player name = {players[0].player8[0]} image = {players[0].player8[1]} position = {players[0].player8[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player9[0]} image = {players[0].player9[1]} position = {players[0].player9[2]}/>
                <Player name = {players[0].player10[0]} image = {players[0].player10[1]} position = {players[0].player10[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player11[0]} image = {players[0].player11[1]} position = {players[0].player11[2]}/>
                <Player name = {players[0].player12[0]} image = {players[0].player12[1]} position = {players[0].player12[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player13[0]} image = {players[0].player13[1]} position = {players[0].player13[2]}/>
                <Player name = {players[0].player14[0]} image = {players[0].player14[1]} position = {players[0].player14[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player15[0]} image = {players[0].player15[1]} position = {players[0].player15[2]}/>
                <Player name = {players[0].player16[0]} image = {players[0].player16[1]} position = {players[0].player16[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player17[0]} image = {players[0].player17[1]} position = {players[0].player17[2]}/>
                <Player name = {players[0].player18[0]} image = {players[0].player18[1]} position = {players[0].player18[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player19[0]} image = {players[0].player19[1]} position = {players[0].player19[2]}/>
                <Player name = {players[0].player20[0]} image = {players[0].player20[1]} position = {players[0].player20[2]}/>
            </div>
            <div class="flex flex-row justify-evenly">
                <Player name = {players[0].player21[0]} image = {players[0].player21[1]} position = {players[0].player21[2]}/>
                <Player name = {players[0].player22[0]} image = {players[0].player22[1]} position = {players[0].player22[2]}/>
            </div>

        </div>
    </div>

    <div id="offCanvasMenu" class="off-canvas-menu h-full w-0 fixed z-10 top-0 left-0 bg-[#111] overflow-x-hidden duration-500 pt-14">
        <span class="close-btn absolute top-[20px] right-[25px] text-3xl ml-[50px] cursor-pointer text-[#818181]" onclick="closeMenu()"> <i class="fa-solid fa-close"></i> </span>

        <div class="p-2 no-underline text-2xl text-[#818181] block duration-300 hover:text-[#f1f1f1]"> The same as a link </div>
    </div>


      <style>
        .players::-webkit-scrollbar {
            display: none;
        }
        .triggerDiv {
            cursor: pointer;
        }
        .hiddenDiv {
            display: none;
        }
      </style>
    <script>
        document.querySelectorAll('.triggerDiv').forEach(trigger => {
            trigger.addEventListener('click', function() {
                // Hide all hidden divs first
                document.querySelectorAll('.hiddenDiv').forEach(div => {
                    div.style.display = 'none';
                });

                if (this.id === 'showAll') {
                    // Show all hidden divs
                    document.querySelectorAll('.hiddenDiv').forEach(div => {
                        div.style.display = 'flex';
                        div.style.flexDirection = 'row';
                        div.style.justify = 'around';
                        div.style.items = 'center';
                    });
                } else {
                    // Get the target group to show
                    const targetGroup = this.getAttribute('data-target');
                    
                    // Show only the target group divs
                    document.querySelectorAll('.' + targetGroup).forEach(div => {
                        div.style.display = 'flex';
                        div.style.flexDirection = 'row';
                        div.style.justify = 'around';
                        div.style.items = 'center';
                    });
                }
            });
        });

        function openMenu() {
            document.getElementById("offCanvasMenu").style.width = "250px";
        }

        function closeMenu() {
            document.getElementById("offCanvasMenu").style.width = "0";
        }

        document.querySelector('.menu-btn').addEventListener('click', openMenu);
        document.querySelector('.close-btn').addEventListener('click', closeMenu);
    </script>
</Layout>